@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-heading-xl {
    @apply font-kaiseitokumin text-[2.5rem] leading-[50px] text-text-black;
  }
  .text-heading-lg {
    @apply font-kaiseitokumin text-[2rem] leading-[35px] text-text-black;
  }
  .text-heading-md {
    @apply font-kaiseitokumin text-[1.5rem] text-text-black;
  }
  .text-heading-sm {
    @apply font-kaiseitokumin text-[1.375rem] text-text-black;
  }
  .text-heading-xs {
    @apply font-kaiseitokumin text-[1.125rem] text-text-black;
  }
  .text-heading-2xs {
    @apply font-kaiseitokumin text-[1rem] text-text-black;
  }
  .text-heading-3xs {
    @apply font-kaiseitokumin text-[0.875rem] text-text-black;
  }
  .text-heading-4xs {
    @apply font-kaiseitokumin text-[0.75rem] leading-[16px] text-text-black;
  }

  .text-body-lg {
    @apply font-generalsans text-[1.125rem] text-text-black;
  }
  .text-body-md {
    @apply font-generalsans text-[1rem] text-text-black;
  }
  .text-body-sm {
    @apply font-generalsans text-[0.875rem] text-text-black;
  }
  .text-body-xs {
    @apply font-generalsans text-[0.75rem] text-text-black;
  }

  .text-link-sm {
    @apply font-generalsans text-[0.875rem] text-text-black underline;
  }
  .text-link-xs {
    @apply font-generalsans text-[0.75rem] text-text-black underline;
  }

  .button-primary {
    @apply text-body-sm border border-background-black bg-background-black px-2x pb-[9px] pt-[7px] text-text-white transition-all hover:bg-black disabled:pointer-events-none disabled:opacity-50;

    img {
      @apply invert transition-all;
    }
  }

  .button-secondary {
    @apply text-body-sm border border-solid border-background-black px-2x pb-[9px] pt-[7px] text-text-black transition-all hover:bg-background-black hover:text-text-white;

    img {
      @apply transition-all;
    }
    &:hover img {
      @apply invert;
    }
  }

  .button-link {
    @apply text-link-sm;
  }

  .button-header-link {
    @apply text-heading-3xs relative inline-block w-fit after:absolute after:bottom-0 after:left-0 after:h-[1px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-text-black after:transition-transform after:duration-200 after:ease-in-out hover:after:origin-bottom-left hover:after:scale-x-[1];
  }

  .input {
    @apply flex flex-col gap-1x;

    label {
      @apply text-heading-3xs text-text-black;
    }

    input {
      @apply text-body-md w-full appearance-none border border-stroke-black bg-transparent px-2x py-1x transition-colors duration-300 placeholder-shown:border-stroke-gray focus:outline-none;
    }
    input:is([aria-invalid="true"]) {
      @apply border-stroke-red;
    }
  }

  .checkbox {
    @apply flex items-center gap-1x;

    input[type="checkbox"] {
      @apply m-[3px] h-[14px] min-w-[14px] cursor-pointer appearance-none outline outline-1 outline-offset-1 outline-stroke-gray transition-all duration-300 checked:bg-background-black checked:outline-stroke-black;
    }

    label {
      @apply text-heading-4xs text-text-black;
    }
  }

  .blur {
    filter: blur(3px);
    transition: filter 0.3s ease-in-out;
  }
  .remove-blur {
    filter: blur(0px);
    transition: filter 0.3s ease-in-out;
  }
}
