@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-heading-xl {
    @apply font-kaiseitokumin text-[2.5rem] leading-[50px] text-text-black;
  }
  .text-heading-lg {
    @apply font-kaiseitokumin text-[2rem] leading-[35px] text-text-black;
  }
  .text-heading-md {
    @apply font-kaiseitokumin text-[1.5rem] text-text-black;
  }
  .text-heading-sm {
    @apply font-kaiseitokumin text-[1.375rem] text-text-black;
  }
  .text-heading-xs {
    @apply font-kaiseitokumin text-[1.125rem] text-text-black;
  }
  .text-heading-2xs {
    @apply font-kaiseitokumin text-[1rem] text-text-black;
  }
  .text-heading-3xs {
    @apply font-kaiseitokumin text-[0.875rem] text-text-black;
  }
  .text-heading-4xs {
    @apply font-kaiseitokumin text-[0.75rem] leading-[16px] text-text-black;
  }

  .text-body-lg {
    @apply font-generalsans text-[1.125rem] text-text-black;
  }
  .text-body-md {
    @apply font-generalsans text-[1rem] text-text-black;
  }
  .text-body-sm {
    @apply font-generalsans text-[0.875rem] text-text-black;
  }
  .text-body-xs {
    @apply font-generalsans text-[0.75rem] text-text-black;
  }

  .text-link-sm {
    @apply font-generalsans text-[0.875rem] underline text-text-black;
  }
  .text-link-xs {
    @apply font-generalsans text-[0.75rem] underline text-text-black;
  }

  .button-primary {
    @apply text-body-sm text-text-white px-2x pt-[7px] pb-[9px] bg-background-black hover:bg-black transition-all;
  }
  .button-secondary {
    @apply text-body-sm text-text-black px-2x pt-[7px] pb-[9px] border border-solid border-background-black hover:bg-background-black hover:text-text-white transition-all;

    svg {
      @apply my-auto transition-all;
    }
    &:hover path {
      @apply fill-stroke-white;
    }
  }

  .blur {
    filter: blur(3px);
    transition: filter 0.3s ease-in;
  }
  .remove-blur {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
  }
}
